<!DOCTYPE html>
<html>
<head>
	<title>
		Layout
	</title>
	<style type="text/css">
		body {
			background-color: #07d1ff;
			height: 1000px;

			margin-top: 0;
	        margin-bottom: 0; 
	        padding 

		}

		img {
			width: 1080px;
			height: 250px;
		}

		p {
			margin-top: 9px;
			margin-bottom: 0px;
		}
	</style>
</head>



{
	
</style>
<style>

</style>
 

<body>
	<img src="header.jpg">
	<p>
		Dette er første avsnitt!
	</p>

    <p>

    Dette er andre avsnitt

    </p>
    <header>
    </header>
    
    <nav>


    </nav>

    <section>
    
    </section>

    <footer>
    
    </footer>


    
</body>
</html>